.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 30rem;
  margin: 0;
  background-color: $color-text-black;
  &__logo {
    height: 5rem;
    transition: all 0.2s;
    @media only screen and(max-width: $bp-medium) {
      height: 4rem;
    }

    @media only screen and(max-width: $bp-small) {
      height: 3.8rem;
    }

    &:hover {
      transform: skewY(-2deg) scale(1.05);
    }
  }

  &__buttons {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media only screen and(max-width: $bp-large) {
      width: 45%;
    }
    @media only screen and(max-width: $bp-medium) {
      width: 40%;
    }

    @media only screen and(max-width: $bp-small) {
      width: 50%;
    }
    @media only screen and(max-width: $bp-small) {
      width: 60%;
    }
    @media only screen and(max-width: $bp-phone) {
      width: 90%;
    }

    &--btn:visited,
    &--btn:link {
      font-size: 1.8rem;
      color: $color-text-white;
      text-decoration: none;
      transition: all 0.2s;
      @media only screen and(max-width: $bp-medium) {
        font-size: 1.5rem;
      }
      @media only screen and(max-width: $bp-small) {
        font-size: 1.5rem;
      }
      &:hover,
      &:active {
        color: $color-text-dark;
      }
    }
  }
  &__copy {
    font-size: 1.5rem;
    color: $color-text-dark;
  }
}
.social {
  &__link {
    background-color: white;
  }
}
