.shop {
  height: 140rem;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: $color-primary-dark;
  @media only screen and(max-width: $bp-smallest) {
    height: 480rem;
  }

  &__heading {
    color: $color-text-white;
    font-size: 4rem;
    @media only screen and(max-width: $bp-phone) {
      font-size: 3.5rem;
    }
  }
  &__heading--2 {
    color: $color-text-white;
    font-size: 3rem;
    @media only screen and(max-width: $bp-phone) {
      font-size: 3rem;
    }
  }

  &__container {
    width: 70%;
    display: flex;
    justify-content: space-evenly;

    @media only screen and(max-width: $bp-large) {
      width: 90%;
    }
    @media only screen and(max-width: $bp-medium) {
      width: 100%;
    }
    @media only screen and(max-width: $bp-smallest) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &:last-child {
      margin-bottom: 5rem;
    }
  }
  position: relative;
}
.card {
  height: 48rem;
  padding: 6rem 4rem 2rem 4rem;
  border-radius: 1rem;
  background-color: rgba($color-primary, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
  @media only screen and(max-width: $bp-large) {
    height: 45rem;
  }

  @media only screen and(max-width: $bp-medium) {
    padding: 4rem 3rem 1.5rem 3rem;
    margin-bottom: 2rem;
    height: 40rem;
  }
  @media only screen and(max-width: $bp-smallest) {
    height: 65rem;
    width: 40rem;
    margin-top: 5rem;
    padding: 7rem 4rem 2rem 4rem;
  }

  &:hover {
    transform: scale(1.05);

    .card__more {
      opacity: 1;
    }
  }
  &__img {
    height: 15rem;
    margin-left: 0px;
    @media only screen and(max-width: $bp-large) {
      height: 12rem;
    }
    @media only screen and(max-width: $bp-medium) {
      height: 10rem;
    }
    @media only screen and(max-width: $bp-smallest) {
      height: 20rem;
      padding: auto;
    }
  }
  &__name {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    color: $color-text-white;
    @media only screen and(max-width: $bp-smallest) {
      font-size: 3rem;
      // font-weight: 400;
    }
  }

  &__price {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;

    color: $color-text-white;
    @media only screen and(max-width: $bp-smallest) {
      font-size: 3rem;
      // font-weight: 400;
    }
  }
  &__button {
    color: $color-primary;
    @media only screen and(max-width: $bp-smallest) {
      font-size: 3rem !important;
      // font-weight: 400 !important;
    }
  }
  &__more {
    color: $color-text-white;
    opacity: 0;
    transition: all 0.1s;
    @media only screen and(max-width: $bp-smallest) {
      font-size: 2rem !important;
      // font-weight: 400 !important;
    }
  }
}
